<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>
  Ім'я та Прізвище: <%= @feedback[:name]%>
</p>
<p>
  Телефон: <%= @feedback[:phone] %>
</p>
<p>
  Email: <%= @feedback[:email] %>
</p>
<p>
  Повідомлення: <%= @feedback[:description] %>
</p>
</body>
</html>
